%div
  =form_for @user, method: :put do
    %p=label_tag :first_name, "First name: ", class: "field_tag"
    =text_field_tag :first_name, "#{@user.first_name}", class: "field"
    
    %p=label_tag :first_name, "Last name: ", class: "field_tag"
    =text_field_tag :last_name, "#{@user.last_name}", class: "field"
    
    %p=submit_tag "Submit", class: "submit"
  